// <!DOCTYPE html>
// <html>
//   <head>
//     <meta charset='utf-8'>
//     <title>Hello friend!</title>
//   </head>
//   <body>
//     <h1>Word Counter</h1>
//
//     <form action="/words" method="post">
//       <label for="oneWord">Add a new word</label>
//       <input id="oneWord" name="oneWord" type="text">
//       <label for="sentence">Add a new word</label>
//       <input id="sentence" name="sentence" type="text">
//       <button type="submit">Submit</button>
//     </form>
//
//   </body>
// </html>
