@{
  Layout = "_Layout";
}
    <div class="container">
    <h1>Word Counter</h1>
    <br>
    <form action="/words/show" method="post">
      <label for="oneWord">Add A Word:</label>
      <input id="oneWord" name="oneWord" type="text" required>
      <label for="sentence">Add A Sentence:</label>
      <input id="sentence" name="sentence" type="text" required>
      <button class="submitbutton" type="submit">Submit</button>
    </form>
    </div>
