@{
  Layout = "_Layout";
}

@using WordCounter.Models;

    <div class="container">
      <h1>Word Counter Result</h1>
      <br>
      <p>Your Word Appeared @Model.Counting() Times</p>
      <h3><a href = '/words'>Test Another</a></h3>
    </div>
